<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Table</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% if url %}
<a href="{{url}}" id="khalti-url">paymennt</a>
{% endif %}
<div class="container mt-5">
    <h2 class="text-center">Buy me a Food</h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Food</th>
                <th scope="col">Image</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in food %}
            <tr>
                <td>{{i.name}}</td>
                <td><img src="{{i.image.url}}" width="300px" height="300px"></td>
                <td>Rs {{i.price}} /- </td>
                <td><a href="{% url 'send-khalti' i.id %}" class="btn btn-primary">Treat me {{i.name}}</a></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
<script>
 document.getElementById('khalti-url').click(); 
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
